* {
    margin: 0;
    padding: 0;
    outline: none;
  }
  
   body {
    font-family: opensans, Arial, sans-serif;
    font-size: 13px;
    color: white;
    background-color: #ffffff;
    overflow-wrap: break-word;
  }
  
  
  html {
    scroll-behavior: smooth;
  }
  

.header__section {
  max-width: 100%;
  min-width: 290px;
  padding: 0 35px;
  margin: 0 auto;}

a {
text-decoration: none;
}