
@font-face {
    font-family: 'opensans';
    src: url("../fonts/opensansbold-webfont.woff"),
    url("../fonts/opensansbold-webfont.woff2");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'opensans';
    src: url("../fonts/opensans-webfont.woff"),
    url("../fonts/opensans-webfont.woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'opensans';
    src: url("../fonts/opensanssemibold-webfont.woff"),
    url("../fonts/opensanssemibold-webfont.woff2");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'opensans';
    src: url("../fonts/opensanslight-webfont.woff"),
    url("../fonts/opensanslight-webfont.woff2");
    font-weight: 300;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    outline: none;
  }
  
   body {
    font-family: opensans, Arial, sans-serif;
    font-size: 13px;
    color: white;
    background-color: #ffffff;
    overflow-wrap: break-word;
  }
  
  
  html {
    scroll-behavior: smooth;
  }
  

.header__section {
  max-width: 100%;
  min-width: 290px;
  padding: 0 35px;
  margin: 0 auto;}

a {
text-decoration: none;
}

.full__block {
 background: url("/img/header.jpg") center center no-repeat;
 background-size: cover;
 position: relative;
}

.full__block::after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255,255,255,0.1);
  filter: blur(200px);
  height: 100px;
  content: "";
  z-index: 1;
}

.header__section {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.main__header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 2.8%;
    padding-bottom: 2.8%;
    max-width: 100%;
    padding-left: 14%;
}

.main__nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

figure {
    display: flex;
    align-items: center;
}

figcaption a{
    margin-left: 10px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.31px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.header__ul {
    list-style: none;
    display: flex;
}

.header__ul a {
    
    margin-right: 50px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.31px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition-property: color;
    transition-property: border;
    transition-duration: 500ms;
    padding: 30px 0;
    border-bottom: 3px solid transparent;
    
}

.header__ul a:hover, .header__ul a:active, .header__ul a:focus {
    color:  #e7526b;   
    border-color: #e7526b;
}

.search__header {
    padding: 17px 27px;
    border-radius: 25px;
    position: relative;
    border-color: rgba(255,255,255,0);

}

.search__form {
    position: relative;
}

.search__form.active::after {
    font-family: FontAwesome;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 25px;
    content: "\f002";
    color: black;
}
/* start of info-header
*/
.header__info {
    max-width: 100%;
    min-width: 290px;
    padding: 0 20px;
    padding-left: 15%;
    padding-top: 13.5%;
    padding-bottom: 13.5%;
    margin: 0 auto;
}
.design__text {
    display: flex;
    flex-direction: column;
    max-width: 510px;
    align-items: flex-end;
}

.design__start {
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 2.6px;
  font-weight: 400;
  padding-bottom: 50px;
  text-align: end;

}

.GST {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 21px 60px;
    line-height: 60px;
    letter-spacing: 1.08px;
    border-top: 1px solid rgba(255,255,255, 0.3);
    background: #8824cd;
    border-radius: 50px;
    font-weight: 800;
    word-spacing: 2px;
    text-align: center;
    transition: 0.3sec;
}

.GST:hover, GST:active, .GST:focus {
    background: #9404f3;
    box-shadow: 2px 2px 2px 0 black;
}
.under__GTS {
    padding-top: 20px;
    color: white;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.216px;
    font-weight: 300;
    text-align: center;
}

.vote__block {
  background-color: #2e3b4e;
}

.conteiner__vote {
    position: relative;
    display: flex;
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 120px;
}

.vote__wrap {
    max-width: 395px;
}

.vote__wrap h3 {
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    padding-bottom: 33px;
    padding-top: 65px;
}

.vote__wrap p { font-size: 15px; line-height: 26px; }

.conteiner__vote::before {
    content: "";
    position: absolute;
    width: 141px;
    height: 36px;
    background: url("/img/vote_bot.png");
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/* BBB START HERE */

.BangBangBoo {
    background: url(/img/image-1.jpg) no-repeat 50%  /cover pink;
    padding: 160px 0;
    position: relative;
}



.BangBangBooInner {
    position: relative;
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
}

.conteiner__bbb {
    padding-bottom: 30px;
}

.conteiner__bbb h2 {
    font-size: 35px;
    line-height: 60px;
    font-weight: 300;
    padding-bottom: 30px;
}

.conteiner__bbb p {

    overflow: hidden;
    font-size: 15px;
    line-height: 26px;

}

.bbb {
    text-decoration: none;
    font-size: 18px;
    padding: 21px 60px;
    line-height: 60px;
    letter-spacing: 1.08px;
    border: 3px solid transparent;
    border-radius: 50px;
    font-weight: 800;
    word-spacing: 2px;
    text-align: center;
    background-color: white;
    color: #d54c63;
    transition: 0.3s;
}

.bbb:hover, .bbb:active, .bbb:focus {
    box-shadow: 2px 2px 2px 0 black;
}

/*section3 START HERE */

.section3 {
    display: flex;
    color: black;
}

.section3__hand {
    background: url("/img/image-left.jpg") no-repeat  50% /cover;
    max-width: 625px;
    width: 100%;
}

.section3__about {
    max-width: 650px;
    width: 100%;
    padding-top: 95px;
    padding-bottom: 135px;
    padding-left:100px;
}

.section3__about b {
    font-size: 15px; line-height: 26px; padding-bottom: 15px;
}

.section3__about p {
    font-size: 19px; line-height: 31px; padding-bottom: 35px;
}

.section3__about small {
    font-size: 15px; line-height: 26px;
}

/* SECTION4 START HERE */

.section4 {
    
    padding: 190px 0 120px 0;
    position: relative;
}

.section4::after {
    content: "";
    filter: grayscale(100%);
    background: url(/img/image-2.jpg) no-repeat 50%  /cover pink;
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.section4::before {
    content: "";
    background: rgba(82,26,102,0.8); position: absolute; left:0; right:0; bottom: 0;
    top: 95px;
    z-index: 2;
}

.section4__inner {
    position: relative; max-width: 820px; margin: 0 auto; z-index: 3;
    text-align: center;
}

.section4__about h2 {
    font-size: 35px; line-height: 60px; font-weight: 300;
    padding-bottom: 30px;
}

.section4__about p {
    overflow: hidden; font-size: 15px; line-height: 26px;
    padding-bottom: 33px; color: #db8ff6;
}

.section4__about small {
    font-size: 15px; line-height: 26px;
}

.section4__but {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 21px 60px;
    line-height: 60px;
    letter-spacing: 1.08px;
    border-top: 1px solid rgba(255,255,255, 0.3);
    background: #8824cd;
    border-radius: 50px;
    font-weight: 800;
    word-spacing: 2px;
    text-align: center;
    transition: 0.3sec;
}

.section4_button {
    padding-bottom: 20px;
}
.section4__but:hover, section4__but:active, .section4__but:focus {
    background: #9404f3;
    box-shadow: 2px 2px 2px 0 black;
}

/* SECTION 5 START HERE */

.section5 {
    background: url("/img/image-3.jpg") no-repeat 50% /cover;
    position: relative;
}

.section5::before {
    content:""; position: absolute; left: 0; right: 0; top: 0; bottom: 0;
   background-image: linear-gradient(0deg, rgb(26,26,26,0.7) 0%, rgba(26,26,26,0) 100%);
}
.container {
    max-width: 1160px;
    padding: 0 20px;
   margin: 0 auto;
    position: relative;	z-index: 1;}

.section5__inner {
    padding-top: 360px;
    padding-bottom: 90px;
}

.section5__but {
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 25px; 
    text-decoration: none;
    color: white;
    transition: 0.3sec;
}

.section5__but:hover, section5__but:active, .section5__but:focus {
    background: #9404f3;
    box-shadow: 2px 2px 2px 0 black;
}
  
.section5__about h2 {
    max-width: 530px;
    padding: 30px 0;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
}

.myphoto {
    border-radius: 50%;
    padding-right: 10px;
}

/* START SECTION 6*/
.section6 {
    position: relative;
}

.section6::before {
    content: "";
    background: url("/img/Image-right.jpg") no-repeat 50% /cover;
    position: absolute;
    width: 670px;
    right: 0;
    top: 0;
    bottom: 0;
}

.section6__about {
    color: black;
    max-width: 650px;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 135px;
    padding-right:100px;
}

.section6__about b {
    font-size: 15px; line-height: 26px; padding-bottom: 15px;
}

.section6__about p {
    font-size: 19px; line-height: 31px; padding-bottom: 35px;
}

.section6__about small {
    font-size: 15px; line-height: 26px;
}

/*Section7 start here*/

.section7 {
    background: #e7526b;
}

.section7__about {
    padding: 75px 0;
}
.section7__about b {
    font-size: 15px; line-height: 26px; padding-bottom: 25px;
}

.section7__about p {
    font-size: 19px; line-height: 31px; padding-bottom: 25px;
}

.section7__about a{
    color: white;
    font-size: 15px; line-height: 26px;
}